
$background: #F7F7F7;
$black: #000000;
$lightGray: rgb(215, 215, 215);
$darkText: #3C3C3C;
$lightText: #808080;

html {
  background-color: $background;
  color: $darkText;
  font-family: 'Montserrat', sans-serif;
}

.error {
  padding-left: 1px;
  font-size: 1.3rem;
  font-weight: 400;
  color: $lightText;
}

@media (max-width: 481px) {
  .error {
    text-align: center;
  }
}