@import "../styles/global.scss";

.footer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $lightGray;
  margin: 0;
  padding: 0;
}

.content {
  color: $lightText;
}

@media (min-width: 481px) {
  .footer {
    margin: 4.2rem 0 4.8rem 0;
  }
  .content {
    margin-left: 1px;
    font-size: 0.85rem;
    text-align: left;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .footer {
    margin: 3.2rem 0 3.2rem 0;
  }
  .content {
    margin-left: -2px;
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .footer {
    margin: 2.6rem 0 2.6rem 0;
  }
  .content {
    margin-left: -2px;
    font-size: 12px;
    text-align: center;
  }
}
