.name {
  font-weight: 700;
}

.description {
  font-weight: 450;
  color: #808080;
}

@media (min-width: 481px) {
  .header {
    margin-top: 3.5rem;
  }

  .name {
    font-size: 2.5rem;
  }
  
  .description {
    font-size: 1.5rem;
    margin-left: 1px;
  } 
}

@media (min-width: 321px) and (max-width: 480px) {
  .header {
    margin-top: 2.5rem;
  }

  .name {
    font-size: 2rem;
    text-align: center;
  }

  .description {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .header {
    margin-top: 2.25rem;
  }

  .name {
    font-size: 1.8rem;
    text-align: center;
  }

  .description {
    font-size: 1.08rem;
    text-align: center;
  }
}