@import '../styles/global.scss';

.name {
  font-weight: 700;
}

.description {
  font-weight: 500;
  color: $lightText;
}

.header a:link, .header a:visited, .header a:hover {
  color: $darkText;
  text-decoration: none;
}

.header a:active {
  color: $black;
  text-decoration: none;
}

@media (min-width: 481px) {
  .header {
    margin-top: 3.5rem;
  }

  .name {
    font-size: 2.5rem;
  }
  
  .description {
    font-size: 1.4rem;
    margin-left: 1px;
  } 
}

@media (min-width: 321px) and (max-width: 480px) {
  .header {
    margin-top: 2.5rem;
  }

  .name {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2px;
  }

  .description {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .header {
    margin-top: 2.25rem;
  }

  .name {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1px;
  }

  .description {
    font-size: 15px;
    text-align: center;
  }
}